@use '../../variables' as *;

.login-page-container {
  background-color: $blue;

  min-height: 100vh;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.login-card-wrapper {
  display: flex;
  justify-content: center;
  width: 90%;
  margin-top: 7%;

  img {
    height: 100%;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}

.login-button-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.error-message-wrapper {
  p {
    color: red;
  }
}

mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-form-field {
  width: 100%;
}

mat-card-subtitle {
  margin-top: 8px;
  margin-bottom: 32px;
}

//desktop only
@media (min-width: 1024px) {
  mat-card {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}

//mobile only
@media (max-width: 1024px) {
  .login-card-wrapper {
    img {
      display: none;
    }
  }
}
